body {
    background: linear-gradient(#e76a1b 10%, #e7d01b 100%) fixed;
}
#focus, #content a.post {
    background: linear-gradient(#e7d01b 0%, #e76a1b 100%);
}
#content h1, #content a {
    color: #e7d01b;
}
#content hr {
    border: 2px solid #e7d01b;
}