@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@keyframes fade {
    0% {opacity: 0;}
    11.11% {opacity: 1;}
    30.55% {opacity: 1;}
    36.11% {opacity: 0;}
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    11.11% {opacity: 1;}
    30.55% {opacity: 1;}
    36.11% {opacity: 0;}
}
* {
    padding: 0;
    border: 0;
	margin: 0;
}
html, body {
    height: 100%;
    font-family: 'Open Sans',  sans-serif;
    font-size: 16px;
}
#head {
    width: 100%;
    position: fixed;
    z-index: 100;
}
#bar {
    background: #0d0d0d;
    margin: 0 auto;
    color: #ffffff;
    opacity: 0.8;
}
#bar, #page, #foot {
    width: 95%;
    max-width: 1200px;
}
#bar, #top {
    overflow: auto;
    min-height: 80px;
}
#bar > a, #top > div:nth-child(1) {
    display: block;
    margin: 0 0 0 10px;
    font-weight: bold;
}
#bar > a, #top > div:nth-child(1), #sites, #pages > a, #top > div:nth-child(2), #top > div > div {
    float:left;
}
#bar > a, #top > div:nth-child(1), #sites > a, #pages > a, #top > div:nth-child(2), #top > div > div {
    height: 65px;
    padding: 15px 0 0 0;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.2s ease;
}
#bar > a:hover {
    height: 59px;
    border-bottom: 5px solid #ffffff;
}
#sites > a, #top > div:nth-child(2) {
    display: none;
    margin: 0 10px 0;
}
#sites > a > img {
    max-height: 30px;
    margin: 0 0 -5px 0;
}
#sites > a.here, #sites:hover > a, #pages > a, #top > div:nth-child(2), #top > div > div {
    display: block;
}
#top > div:nth-child(2) {
    margin: 0 10px 0 48px;
}
#sites > a:hover {
    height: 59px;
    border-bottom: 5px solid #ffffff;
    margin: 15px 10px 30px;
}
#sites:hover > a.listitle {
    display: none;
}
#pages, #top > div:nth-child(3) {
    float: right;
    padding: 0 1px 0 0;
}
#pages > a, #top > div > div {
    margin: 0 10px;
}
#pages > a.here, #top > div > div.here {
    font-weight: bold;
}
#pages > a:hover {
    height: 59px;
    border-bottom: 5px solid #ffffff;
}
#page {
    overflow: auto;
    min-height: 100%;
    background: #ffffff;
    margin: 0 auto -80px;
}
#fullfocus {
    height: 350px;
    width: 100%;
    position: relative;
    padding: 25px 0;
}
#fullfocus > div > div {
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -175px;
    opacity: 0;
    color: #ffffff;
    text-align: center;
}
#fullfocus > div > div > img {
    display: block;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
}
#fullfocus > #triple > div:nth-child(1) {
    animation: fade 18s 0s infinite;
    -webkit-animation: fade 18s 0s infinite;
}
#fullfocus > #triple > div:nth-child(2) {
    animation: fade 18s 6s infinite;
    -webkit-animation: fade 18s 6s infinite;
}
#fullfocus > #triple > div:nth-child(3) {
    animation: fade 18s 12s infinite;
    -webkit-animation: fade 18s 12s infinite;
}
#fullfocus > #single > div {
    opacity: 1;
}
#sublinks {
    position: relative;
    margin: -10px -10px 10px;
    padding: 10px 5px 0;
    overflow: auto;
}
#sublinkbar {
    height: 10px;
    width: 100%;
    z-index: 5;
    margin: 0 -5px;
    position: absolute;
    bottom: 0;
}
#sublinks > a {
    position: relative;
    display: block;
    float: left;
    z-index: 10;
    margin: 0 5px;
    padding: 10px 20px 10px;
    font-weight: normal;
    background: #ffffff;
}
#sublinks > a:nth-child(1) {
    padding: 5px 0 15px;
    color: #ffffff;
    background: none;
}
#sublinks > a.here {
    font-weight: bold;
    background: #ffffff;
}
#sublinks > a:hover {
    padding: 10px 20px 5px;
    border-bottom: 5px solid #333333;
    transition: all 0.2s ease;
}
#sublinks > a:nth-child(1):hover {
    padding: 0 0 15px;
    border-top: 5px solid #ffffff;
    border-bottom: 0;
    transition: all 0.2s ease;
}
#content {
    padding: 10px;
}
#content h1 {
    margin: 20px 0 0 0;
    font-size: 30px;
    font-weight: bold;
}
#content p {
    margin: 10px 0;
}
#content a {
    font-weight: bold;
    text-decoration: none;
}
#content li {
    margin: 5px 0 0 35px
}
#content img {
    max-height: 250px;
    max-width: 250px;
}
#content a.post {
    display: block;
    margin: 20px;
    padding: 5px;
}
#content a.post p {
    margin: 5px 0 0 15px;
    color: #ffffff;
}
#content a.post h2 {
    font-size: 25px;
    color: #ffffff;
    font-weight: normal;
}
#page:after {
    content: "";
    display: block;
    height: 80px;
}
#foot {
    height: 60px;
    overflow: auto;
    padding: 10px 0 0 0;
    border-top: 10px solid #ffffff;
    margin: 0 auto;
    background: #333333;
    text-align: center;
    color: #ffffff;
}