            {% if page.title == "Home" %}<div id="fullfocus">
                {% if page.zone == "Prawnsgame" %}<div id="triple">
                    <div><img src="{{ site.baseurl }}/images/prawns/icon.png"></div>
                    <div><img src="{{ site.baseurl }}/images/kalamala/icon.png"></div>
                    <div><br/><br/><h1>Check out the different games we have (admittedly only two) with the top menu!</h1></div>
                </div>{% endif %}
                Hello
            </div>
            {% else %}<div id="thinfocus">
            </div>{% endif %}