		<div id="head">
			<div id="bar">
				<a href="#">Prawnsgame</a>
				<div id="sites">
					<a href="#"><img src="http://i.imgur.com/aE6nhpy.png"> Prawns{{ page.link1name }}</a>
					<a href="#" class="here"><img src="http://i.imgur.com/refTGgG.png"> Kalamala</a>
					<a href="#"><img src="http://i.imgur.com/RX5eJXW.png"> Cavalry</a>
				</div>
				<div id="pages">
					<a href="#" class="here">{{ page.link1name }}</a>
					<a href="#">{{ page.link2name }}</a>
					<a href="#">{{ page.link3name }}</a>
				</div>
			</div>
        </div>
        <div id="page">
            <div id="top">
                <div></div>
                <div></div>
                <div>
                      <div></div>
                      <div></div>
                      <div></div>
                </div>
            </div>
