<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | {{ page.zone }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script type="text/javascript">
        window.onscroll = handleScroll;
        /*
        function scroll () {
            alert("scroll event detected! " + window.pageXOffset + " " + window.pageYOffset);
        }*/
        function handleScroll() {
        	document.getElementById('head').style.left = "-"+document.body.scrollLeft+"px";
        }
    </script>
</head>
