body {
    background: linear-gradient({{ dark }} 10%, {{ light }} 100%) fixed;
}
#fullfocus {
    background: linear-gradient({{ light }} 0%, {{ dark }} 100%);
}
#content > #sublinks, #content th, #content a.post {
    background: {{ dark }};
}
#content > #sublinks > #sublinkbar, #content > #sublinks > a, #content table{
    background: {{ light }};
}
#content h1, #content a {
    color: {% if colouredtextislight %}{{ light }}{% else %}{{ dark }}{% endif %};
}
#content hr {
    border: 2px solid {{ dark }};
}
#content a.post:hover {
    border-top: 5px solid {{ light }};
    border-bottom: 5px solid {{ light }};
}